extends ../_layout
block content
    div(class="row")
        div(class="col s4 push-s4")
            div(class="card large")
                div(class="card-image")
                    img(src=user.pictureUrl)
                    span(class="card-title  grey-text text-lighten-3")=user.username
                div(class="card-content")
                    small="Email: " + user.email  
                    br
                    small="Phone: " + user.phoneNumber
                    br
                    p Don't like the profile picture? Change it!
                    a(href="/update-profile" class="waves-effect waves-dark btn")
                        i(class="material-icons") settings
                    a(href="/logout" class="waves-effect waves-dark btn") 
                        i(class="material-icons") settings_power
                    a(href="/messages" class="waves-effect waves-dark btn")
                        i(class="material-icons") textsms       
                                        