extends ../_layout
block content
    h5(class="center") Register
    div(class="card hoverable")
        div(class="card-content")  
            form(name="register" method="post")
                div(class="row")
                    div(class="input-field col l6 s6")      
                        input(type="text" name="username" id="username" class="validate")
                        label(for="username" class="active") Username
                    div(class="input-field col l6 s6")
                        input(type="email" id="email" name="email" class="validate")
                        label(for="email" class="active") Email
                div(class="row")
                    div(class="input-field col l6 s6")
                        input(type="password" id="password" name="password" class="validate")
                        label(for="password" class="active") Password
                    div(class="input-field col l6 s6")
                        input(type="password" id="confirm-password" name="confirm-password" class="validate")
                        label(for="confirm-password" class="active") Confirm password                 
                div(class="row")
                    div(class="input-field col l6 s6")
                        input(type="text" id="phoneNumber" name="phoneNumber" class="validate")
                        label(for="phoneNumber" class="active") Phone number
                    div(class="input-field col l6 s6")
                        input(type="url" id="pictureUrl" name="pictureUrl" class="validate")
                        label(for="pictureUrl" class="active") Profile Picture                
                    button(type="submit" class="waves-effect waves-dark btn right") Register
                        i(class="material-icons tiny right") play_arrow        

                