extends ../_layout
block content
    div(class="row")
        form(name="createMessage" method="post" class="col s12")
            div(class="input-field col s12")
                input(type="text" name="title" id="title")
                label(for="title" class="active") Title
            div(class="input-field col s12")
                textarea(id="content" name="content" class="materialize-textarea")
                label(for="content" class="active") Write your message!
            button(type="submit" class="waves-effect waves-dark btn right") Send!
                i(class="material-icons tiny right") play_arrow         