block footer
footer.page-footer.teal.darken-2
        div.container
          div.row
            div.col.l6.s12
              h5.white-textFooter  Borat's AutoTrade
                p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content
              div.col.l6.offset-l2.s12
                h5.white-text Links
                ul
                  li 
                    a.grey-text.text-lighten-3(href="#!") Link 1
                  li  
                    a.grey-text.text-lighten-3(href="#!") Link 1
                  li  
                    a.grey-text.text-lighten-3(href="#!") Link 1
                  li  
                    a.grey-text.text-lighten-3(href="#!") Link 1
          div.footer-copyright
            | &#169 2016 Copyright Text
            div.container
              a.grey-text.text-lighten-4.right(href="#!") More Links