extends ../_layout

block content
    h4(class="center-align") Borat's Autotrade - Kazakhstan's finest deals, is nice!
        br
        a(href="/search/basic" class="center-align") Basic Search
        br
        a(href="/search/advanced" class="center-align") Detail Search