extends ../_layout
block content
    div(class="row")
        div(class="push-s3 col s6")
            div(class="card small")
                div(class="card-content")
                    h4(class="center-align") You are not authorized!
                    br 
                    h4(class="center-align") Log in to your account first!
                    br
                    div(class="center-align") 
                        a(href="/login" class="waves-effect waves-dark btn center") Login