extends ../_layout
block content
    div(class="card hoverable")
      div(class="card-content")
        form(name="create" method="post" class="col s12")
            div(class="row")
              div(class="input-field col s6")
                label(for="title" class="active") Title
                input(id="title" type="text" name="title")
              div(class="input-field col s6") 
                label(for="price" class="active") Price
                input(id="price" type="text" name="price")
            div(class="row")          
              div(class="input-field col s6" ) 
                label(for="category" class="active") Category 
                select(id="category" name="category" class="browser-default  grey lighten-3")
                  option(selected="") Select Category
                  option(value="car") Car
                  option(value="truck") Trucks 
                  option(value="motorcycle") Motorcycles      
              div(class="input-field col s6")
                label(for="manufacturer" class="active") Manufacturer
                select(id="manufacturer" name="manufacturer" class="browser-default  grey lighten-3")
                  option(selected="" value="") Select Make
                  option(label="Acura" value="acura") Acura
                  option(label="Alfa Romeo" value="alfa romeo") Alfa Romeo
                  option(label="Aston Martin" value="aston martin") Aston Martin
                  option(label="Audi" value="audi") Audi
                  option(label="Bentley" value="bentley") Bentley
                  option(label="BMW" value="bmw") BMW
                  option(label="Buick" value="buick") Buick
                  option(label="Cadillac" value="cadillac") Cadillac
                  option(label="Chevrolet" value="chevrolet") Chevrolet
                  option(label="Chrysler" value="chrysler") Chrysler
                  option(label="Dodge" value="dodge") Dodge
                  option(label="Ferrari" value="ferrari") Ferrari
                  option(label="FIAT" value="fiat") FIAT
                  option(label="Ford" value="ford") Ford
                  option(label="Genesis" value="genesis") Genesis
                  option(label="GMC" value="gmc") GMC
                  option(label="Honda" value="honda") Honda
                  option(label="Hyundai" value="hyundai") Hyundai
                  option(label="Infiniti" value="infiniti") Infiniti
                  option(label="Jaguar" value="jaguar") Jaguar
                  option(label="Jeep" value="jeep") Jeep
                  option(label="Kia" value="kia") Kia
                  option(label="Lamborghini" value="lamborghini") Lamborghini
                  option(label="Land Rover" value="land rover") Land Rover
                  option(label="Lexus" value="lexus") Lexus
                  option(label="Lincoln" value="lincoln") Lincoln
                  option(label="Lotus" value="lotus") Lotus
                  option(label="Maserati" value="maserati") Maserati
                  option(label="Mazda" value="mazda") Mazda
                  option(label="McLaren" value="mclaren") McLaren
                  option(label="Mercedes-Benz" value="mercedes benz") Mercedes-Benz
                  option(label="MINI" value="mini") MINI
                  option(label="Nissan" value="nissan") Nissan
                  option(label="Porsche" value="porshe") Porsche
                  option(label="Rolls-Royce" value="rolls-royce") Rolls-Royce
                  option(label="smart" value="smart") Smart
                  option(label="Subaru" value="subaru") Subaru
                  option(label="Tesla" value="tesla") Tesla
                  option(label="Toyota" value="toyota") Toyota
                  option(label="Volkswagen" value="volkswagen") Volkswagen
                  option(label="Volvo" value="volvo") Volvo    
            div(class="row")
              div(class="input-field col s6") 
                label(for="fuelType" class="active") Fuel:
                select(id="fuelType" name="fuelType" class="browser-default grey lighten-3") 
                  option(selected="" value="") Select Fuel-type 
                  option(value="gasoline") Gasoline
                  option(value="diesel") Diesel 
                  option(value="electric") Electric 
                  option(value="gasoline hybrid") Gasoline Hybrid       
              div(class="input-field col s6") 
                label(for="transmission" class="active") Transmission: 
                select(id="transmission" name="transmission" class="browser-default  grey lighten-3")
                  option(selected="" value="") Select transmission
                  option(value="automatic") Automatic 
                  option(value="automanual") Automanual 
                  option(value="manual") Manual 
            div(class="row") 
              div(class="input-field col s6")
                label(for="year" class="active") Year Range: 
                select(id="year" name="year" class="browser-default  grey lighten-3") 
                  option(selected="" value="") Select year  
                  option(value="2016") 2016 
                  option(value="2015") 2015 
                  option(value="2014") 2014 
                  option(value="2013") 2013 
                  option(value="2012") 2012 
                  option(value="2011") 2011 
                  option(value="2010") 2010 
                  option(value="2009") 2009 
                  option(value="2008") 2008 
                  option(value="2007") 2007 
                  option(value="2006") 2006 
                  option(value="2005") 2005 
                  option(value="2004") 2004 
                  option(value="2003") 2003 
                  option(value="2002") 2002 
                  option(value="2001") 2001 
                  option(value="2000") 2000        
              div(class="input-field col s6") 
                label(for="color" class="active") Color
                select(id="color" name="color" class="browser-default  grey lighten-3") 
                  option(selected="" value="") Choose Color
                  option(value="black") Black
                  option(value="blue") Blue
                  option(value="white") White 
                  option(value="red") Red 
            div(class="row")     
              div(class="input-field col s6") 
                label(for="location" class="active") Region
                select(id="location" name="location" class="browser-default  grey lighten-3") 
                  option(selected="" value="") Choose Region
                  option(value="sofia") Sofia
                  option(value="plovdiv") Plovdiv
                  option(value="varna") Varna
                  option(value="burgas") Burgas
                  option(value="pernik") Pernik
                  option(value="montana") Montana
                  option(value="dobrich") Dobrich
                  option(value="forda-na-mladost-1") Forda na mladost 1
              div(class="input-field col s6")
                label(for="mileage" class="active") Set Mileage   
                input(id="mileage" type="text" name="mileage")      
            div(class="row")
              div(class="input-field col s6")
                label(for="description" class="active") Description
                input(id="description" type="text" name="description")
              div(class="input-field col s6")
                label(for="picture" class="active") Picture(from url)
                input(id="picture" type="url" name="picture")                  
              button(type="submit" class="waves-effect waves-dark btn right") Create! 