extends ../_layout

block content
    h4(class="center-align") Borat's Autotrade - Kazakhstan's finest deals, is nice!
        div(class="container")
            a(href="/search/basic" class="waves-effect waves-dark btn center") Basic Search
            a(href="/search/advanced" class="waves-effect waves-dark btn ceter") Detail Search