mixin site-navigation
    nav(class="teal darken-2")               
        div(class="nav-wrapper")
            //img(src="/images/logo.png").brand-logo
            link(rel='stylesheet', type='text/css', href='/static/bower_components/jquery-ui/themes/base/jquery-ui.css')
            
            if user
                ul(class="right hide-on-med-and-down")                
                    li
                        a(href="/home") Home
                    li
                        a(href="/adverts") Adverts
                       
                    li
                        a(class="dropdown-button" href="/users", data-activates="dropdown1") Users
                            i(class="material-icons right") arrow_drop_down
                    li
                        a(href="/create-advert") Create Advert
                    li
                        a(href="/profile") Hello, 
                            bold(class="lime-text")=user.username
                            bold(class="lime-text") !
                    li
                        a(href="/logout" class="lime-text") Wanna logout?
                            
            else
                ul(class="right hide-on-med-and-down")
                    li
                                       
                    li
                        a(href="/home") Home
                    li
                        a(href="/adverts") Adverts
                    li
                        a(class="dropdown-button" href="/users", data-activates="dropdown1") Users
                            i(class="material-icons right") arrow_drop_down    
                    li
                        a(href="/register") Register
                    li
                        a(href="/login") Hello, stranger!
                    li
                        a(href="/login" class="lime-text") Wanna sign in?
    
                             