extends ../_layout
block content
    h5 Quick Search
    a(href="/search/advanced" class="right") Advanced search
    div(class="row")
        form(id="quick-search" name="quick-search" method="post" class="col s12")
            div(class="row")
                div(class="input-field col s3" )
                    select(name="manufacturer" id="manufacturer" class="browser-default grey lighten-3")
                        option(value="" selected="selected") All Makes
                        option(label="Acura" value="acura") Acura
                        option(label="Alfa Romeo" value="alfa romeo") Alfa Romeo
                        option(label="Aston Martin" value="aston martin") Aston Martin
                        option(label="Audi" value="audi") Audi
                        option(label="Bentley" value="bentley") Bentley
                        option(label="BMW" value="bmw") BMW
                        option(label="Buick" value="buick") Buick
                        option(label="Cadillac" value="cadillac") Cadillac
                        option(label="Chevrolet" value="chevrolet") Chevrolet
                        option(label="Chrysler" value="chrysler") Chrysler
                        option(label="Dodge" value="dodge") Dodge
                        option(label="Ferrari" value="ferrari") Ferrari
                        option(label="FIAT" value="fiat") FIAT
                        option(label="Ford" value="ford") Ford
                        option(label="Genesis" value="genesis") Genesis
                        option(label="GMC" value="gmc") GMC
                        option(label="Honda" value="honda") Honda
                        option(label="Hyundai" value="hyundai") Hyundai
                        option(label="Infiniti" value="infiniti") Infiniti
                        option(label="Jaguar" value="jaguar") Jaguar
                        option(label="Jeep" value="jeep") Jeep
                        option(label="Kia" value="kia") Kia
                        option(label="Lamborghini" value="lamborghini") Lamborghini
                        option(label="Land Rover" value="land rover") Land Rover
                        option(label="Lexus" value="lexus") Lexus
                        option(label="Lincoln" value="lincoln") Lincoln
                        option(label="Lotus" value="lotus") Lotus
                        option(label="Maserati" value="maserati") Maserati
                        option(label="Mazda" value="mazda") Mazda
                        option(label="McLaren" value="mclaren") McLaren
                        option(label="Mercedes-Benz" value="mercedes benz") Mercedes-Benz
                        option(label="MINI" value="mini") MINI
                        option(label="Nissan" value="nissan") Nissan
                        option(label="Porsche" value="porshe") Porsche
                        option(label="Rolls-Royce" value="rolls-royce") Rolls-Royce
                        option(label="smart" value="smart") Smart
                        option(label="Subaru" value="subaru") Subaru
                        option(label="Tesla" value="tesla") Tesla
                        option(label="Toyota" value="toyota") Toyota
                        option(label="Volkswagen" value="volkswagen") Volkswagen
                        option(label="Volvo" value="volvo") Volvo
                div(class="input-field col s3")
                    select(name="price" id="maxPrice" class="browser-default  grey lighten-3")
                        option(selected="") Max Price
                        option(value="3000000") &euro;3000000
                        option(value="2000000") &euro;2000000 
                        option(value="1500000") &euro;1500000 
                        option(value="1000000") &euro;1000000 
                        option(value="800000") &euro;800000 
                        option(value="700000") &euro;700000 
                        option(value="600000") &euro;600000 
                        option(value="500000") &euro;500000
                        option(value="45000") &euro;45000
                        option(value="40000") &euro;40000
                        option(value="35000") &euro;35000
                        option(value="30000") &euro;30000
                        option(value="25000") &euro;25000
                        option(value="20000") &euro;20000 
                        option(value="15000") &euro;15000
                        option(value="10000") &euro;10000
                        option(value="5000") &euro;5000
                        option(value="2000")  &euro;2000
                        option(value="1500")  &euro;1500
                        option(value="1000")  &euro;1000
                div(class="input-field col s3")
                    select(name="year" class="browser-default  grey lighten-3") 
                        option(selected="" value="") From Year  
                        option(value="2016") 2016 
                        option(value="2015") 2015 
                        option(value="2014") 2014 
                        option(value="2013") 2013 
                        option(value="2012") 2012 
                        option(value="2011") 2011 
                        option(value="2010") 2010 
                        option(value="2009") 2009 
                        option(value="2008") 2008 
                        option(value="2007") 2007 
                        option(value="2006") 2006 
                        option(value="2005") 2005 
                        option(value="2004") 2004 
                        option(value="2003") 2003 
                        option(value="2002") 2002 
                        option(value="2001") 2001 
                        option(value="2000") 2000
                div(class="input-field col s3" )      
                    select(name="location" class="browser-default  grey lighten-3") 
                        option(selected="" value="") Choose Region 
                        option(value="sofia") Sofia
                        option(value="plovdiv") Plovdiv
                        option(value="varna") Varna
                        option(value="burgas") Burgas
                        option(value="pernik") Pernik
                        option(value="montana") Montana
                        option(value="dobrich") Dobrich
                        option(value="mladost") Forda na mladost 1    
            button(type="submit" class="waves-effect waves-dark btn right") Search!
                i(class="material-icons tiny right") search    