mixin site-navigation
    nav.teal.darken-2                
        div.nav-wrapper
            a(href="#").brand-logo Borat Logo

            //- ul#dropdown1.dropdown-content
            //-     li
            //-         a(href="#!") one
            //-     li
            //-         a(href="#!") two
            //-     li
            //-         a(href="#!") three

            ul.right.hide-on-med-and-down                
                li
                    a(href="/home") Home
                li
                    a(href="/adverts") Adverts
                //- li
                //-     a.dropdown-button(href="#!", data-activates="dropdown1") User
                //-         i.material-icons.right arrow_drop_down
                li
                    a(href="#!") Register
                li
                    a(href="/create-advert") Create Advert
                
                li
                    a(href="#/") About
            