include mixins/_navigation

<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="../public/main-style.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    title Borat's AutoTrade
body
    //- block nav
    //- nav.teal.darken-2
    //-     #container
    //-         div.nav-wrapper
    //-             a(href="#").brand-logo Borat Logo
    //-             ul.right.hide-on-med-and-down
    //-                 li
    //-                 a(href="/home") Home
    //-                 li
    //-                 a(href="/adverts") Adverts
    //-                 li
    //-                 a(href="#") Register
    //-                 li
    //-                 a(href="#") About
    header
        +site-navigation
    
    block content

    footer
        div(class="footer-copyright")
            div(class="container") © 2015 Copyright NodeJS Team E 
                a(class="black-text text-lighten-4 right" href="#!") About Us