<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css")
    title Borat's AutoTrade
body
block nav
 nav.teal.darken-2
    #container
        div.nav-wrapper
            a(href="#").brand-logo Borat Logo
            ul.right.hide-on-med-and-down
                li
                  a(href="/home") Home
                li
                  a(href="/adverts") Adverts
                li
                  a(href="#") Register
                li
                  a(href="#") About

h1= result.title 
h2= result._id