extends _layout
block content
    div.collection 
        each advert in result
            //a.collection-item(href="/adverts/"+advert._id)= advert.title
            //img.responsive-img(src="http://buyersguide.caranddriver.com/media/assets/submodel/7731.jpg")

            div.col.s12.m7
                h4.header= advert.title
                div.card.horizontal
                    div.card-image
                        //shegichka *_*
                        img(height='150' src='https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRyLO1X2EIRJwdiEMR_6CGkN-kEHhfoUoXrHDZEQh3Vo0-f60iJFg')
                    div.card-stacked
                        div.card-content
                            p= advert.vehicle.fuelType
                            
                        div.card-action
                            a(href='/adverts/'+advert._id)= advert.title

            //- li
            //-     p= advert.description
            //- li
            //-     p= advert.vehicle
            //- li
            //-     p= advert.price
        