<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css")
    title Borat's AutoTrade
body
block nav
 nav.teal.darken-2
    #container
        div.nav-wrapper
            a(href="#").brand-logo Borat Logo
            ul.right.hide-on-med-and-down
                li
                  a(href="/home") Home
                li
                  a(href="#") Register
                li
                  a(href="#") About
 h1 Welcome!
 div.row
  form.col.s12
   div.row
    div.input-field.col.s4
     label(for="producer") Producer
     input(type="text" id="producer")
   div.row  
    div.input-field.col.s4
     label(for="model") Model
     input(type="text" id="model")
   div.row  
    div.input-field.col.s4
     label(for="year") Year
     input(type="text" id="year")
     a.btn.waves-effect.waves-light.right(href="#") Search