extends _layout

block content
          form(name="login" class="hide-on-med-and-down center" method="post" role="search")
                div(class="input-field col l6 s6")
                    i(class="material-icons small prefix") perm_identity
                    input(type="text" class="validate" name="username" placeholder="Username")
                div(class="input-field col l6 s6")
                    i(class="material-icons small prefix") lock
                    input(type="password" class="validate" name="password" placeholder="Password")
                button(id="btn-login" type="submit" class="waves-effect waves-dark btn center") Sign In
                    i(class="material-icons tiny right") lock_open